<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Asset Manager</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/AdminLTE/plugins/fontawesome-free/css/all.min.css">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="/AdminLTE/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/AdminLTE/dist/css/adminlte.min.css">
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <!-- /.login-logo -->
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a href="#" class="h4"><b>Asset Management System</b></a>
      <% unless @company_name.blank? %>
        <p><%= @company_name %></p>
      <% end %>
    </div>
    <div class="card-body">
      <% if flash[:error] %>
        <div class="alert alert-danger alert-dismissable">
          <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
          <span style="text-align: center"><%= flash[:error].html_safe %></span>
        </div>
      <% end %>
      <% if flash[:notice] %>
        <div class="alert alert-success alert-dismissable">
          <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
          <span style="text-align: center"><%= flash[:notice].html_safe %></span>
        </div>
      <% end %>

      <p class="login-box-msg">Sign in to start your session</p>
      <form action="/login" method="post">
        <div class="input-group mb-3">
          <input type="username" name="username" id="username" required class="form-control" placeholder="Username">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user-ninja"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" name="password" id="pass" required class="form-control" placeholder="Password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
              <input type="checkbox" id="remember">
              <label for="remember">
                Remember Me
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
      <!-- /.social-auth-links -->

      <p class="mb-1">
        <a href="#" onclick="showEmailAddressPopup();">I forgot my password</a>
      </p>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
<!-- /.login-box -->

<!-- Modal -->
<div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h7 class="modal-title" id="myModalLabel">Password Reminder</h7>
      </div>
      <div class="modal-body">
        <form action="#" role="form" class="form-horizontal">
          <div class="input-group mb-3">
            <input type="text" name="email" class="form-control" placeholder="Email Address" id="email" autocomplete="off">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div id="emailError" class="alert-error text-center" style="color: red; font-weight: bold;"></div>

        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="sendEmailButton" onclick="sendEmailToUser();" type="button" class="btn btn-primary">Reset
          my password
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<!-- Modal -->
<div class="modal fade" id="userNotFoundModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h7 class="modal-title" id="myModalLabel">Record not found</h7>
      </div>
      <div class="modal-body">
        <p>The email address provided does not belong to any user. Please try again for you to reset your password</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Okay</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<!-- Modal -->
<div class="modal fade" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">E-mail sent</h4>
      </div>
      <div class="modal-body">
        <p>Please check your email for the new password</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Okay</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- jQuery -->
<script src="/AdminLTE/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="/AdminLTE/dist/js/adminlte.min.js"></script>
</body>
</html>

<script type="text/javascript">
    function sendEmailToUser() {
        var emailAddress = jQuery('#email').val();
        if (validateEmail(emailAddress)) {
            jQuery.ajax({
                type: "GET",
                url: "/check_if_email_exists",
                data: "email=" + emailAddress,
                beforeSend: function () {
                    jQuery("#sendEmailButton").attr("disabled", true);
                },
                success: function (user) {
                    if (user){
                        jQuery.ajax({
                            type: "GET",
                            url: "/reset_password",
                            data: "email=" + emailAddress,
                            beforeSend: function () {
                                jQuery('#emailModal').modal('hide');
                                jQuery('#notificationModal').modal({backdrop: 'static', keyboard: false});
                            },
                            success: function (result) {
                                jQuery("#tr_" + selectedDebtorID).remove();
                                jQuery('#voidDebtorModal').modal('hide');
                            }

                        });

                    } else{
                        jQuery('#emailModal').modal('hide');
                        jQuery('#userNotFoundModal').modal({backdrop: 'static', keyboard: false});
                    }
                }

            });

        } else {
            jQuery("#emailError").html("Please input a valid email address");
        }
    }

    function showEmailAddressPopup() {
        jQuery("#sendEmailButton").removeAttr("disabled");
        jQuery('#email').val('');
        jQuery('#emailModal').modal({backdrop: 'static', keyboard: false});
        jQuery('#emailModal').on('shown.bs.modal', function () {
            jQuery('#email').focus();
        });
    }

    function validateEmail(email) {
        var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(String(email).toLowerCase());
    }

    window.onload = function () {
        jQuery('#email').keypress(function (e) {
            var key = e.which;
            if (key == 13)  // the enter key code
            {
                jQuery('#sendEmailButton').click();
                return false;
            }
        });

        if (localStorage.chkbx && localStorage.chkbx != '') {
            $('#remember').attr('checked', 'checked');
            $('#username').val(localStorage.usrname);
            $('#pass').val(localStorage.pass);
        } else {
            $('#remember').removeAttr('checked');
            $('#username').val('');
            $('#pass').val('');
        }

        $('#remember').click(function() {
            if ($('#remember').is(':checked')) {
                // save username and password
                localStorage.usrname = $('#username').val();
                localStorage.pass = $('#pass').val();
                localStorage.chkbx = $('#remember').val();
            } else {
                localStorage.usrname = '';
                localStorage.pass = '';
                localStorage.chkbx = '';
            }
        });


    };
</script>