<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">General info</h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
            <i class="fas fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <form action="/asset_types" method="post">
          <div class="form-group">
            <label for="inputName">Name</label>
            <input type="text" required name="name" id="inputName" class="form-control">
          </div>
          <input type="submit" value="Add" class="btn btn-success">
        </form>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Manage Asset Types</h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
            <i class="fas fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>Name</th>
            <th colspan="2">Action</th>
          </tr>
          </thead>
          <tbody>
          <% @asset_types.each do |asset_type| %>
            <tr>
              <td><%= asset_type.name %></td>
              <td>
                <button onclick="showEditPopup('<%= asset_type.asset_type_id %>', '<%= asset_type.name %>')" class="btn btn-secondary btn-block">Edit</button>
              </td>
              <td>
                <button onclick="voidAssetTypeConfirm('<%= asset_type.asset_type_id %>')" class="btn btn-danger btn-block">Delete</button>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editFieldModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Record</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/update_asset_type" method="post">
        <div class="modal-body">
          <div class="form-group">
            <label for="inputName">Name</label>
            <input type="text" name="name" id="assetTypeName" class="form-control">
            <input type="hidden" name="asset_type_id" id="assetTypeID" class="form-control">
          </div>
        </div>
        <div class="modal-footer">
          <input type="submit" value="Save" class="btn btn-primary">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Alert</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        This will permanently delete the selected record. Are you sure?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No, Am Not Sure</button>
        <button onclick="voidAssetType();" type="button" class="btn btn-primary">Yes, Am Sure</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script type="text/javascript">
    $(document).ready(function () {
        jQuery('.assets').addClass('active');
        jQuery('.asset_types_menu').addClass('active');
        jQuery('.assets-menu').addClass('menu-open');
    })

    function showEditPopup(assetTypeID, name){
        jQuery('#assetTypeName').val(name);
        jQuery('#assetTypeID').val(assetTypeID); //
        jQuery('#editFieldModal').modal('show');
    }

    var selectedAssetTypeID;

    function voidAssetTypeConfirm(id) {
        selectedAssetTypeID = id;
        jQuery('#deleteModal').modal('show');
    }

    function voidAssetType() {
        var body = document.getElementsByTagName("body")[0];

        var form = document.createElement("form");
        form.method = "POST";
        form.action = "/delete_asset_type";
        body.appendChild(form);

        var input = document.createElement("input");
        input.type = "hidden";
        input.value = selectedAssetTypeID;
        input.name = "id";
        form.appendChild(input);

        form.submit();
    }
</script>
