<div class="row">
  <div class="col-md-7">
    <div class="card">
      <div class="card-body">
        <form action="report_options" method="post">
          <div class="card-body">
            <div class="form-group">
              <label for="header">Header</label>
              <input type="text" id="header" name="header" value="<%= @header %>" class="form-control">
            </div>
            <div class="form-group">
              <label for="footer">Footer</label>
              <input type="text" id="footer" name="footer" value="<%= @footer %>" class="form-control" value="">
            </div>
            <div class="form-group">
              <label>Company Logo</label>
              <div class="form-group">
                <div class="fileupload fileupload-new" data-provides="fileupload">
                  <div class="fileupload-new thumbnail" style=" height: 150px;">
                    <img src="/assets/demoUpload.jpg" alt=""/>
                  </div>
                  <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                  <div>
                        <span class="btn btn-file btn-info">
                          <span class="fileupload-new">Select image</span>
                          <span class="fileupload-exists">Change</span>
                          <input type="file" name="logo"/>
                        </span>
                    <a href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload">Remove</a>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="card-footer">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        jQuery('.report_options').addClass('active');
    })
</script>