<div class="row">
  <div class="col-md-7">
    <div class="card card-primary">
      <!-- /.card-header -->
      <div class="card-body">
        <h5>Choose a selection field to add, edit, or delete selection field values:</h5>

        <ul>
          <li><a href="/selection_fields?field_name=status">Status</a></li>
          <li><a href="/selection_fields?field_name=condition">Condition</a></li>
          <li><a href="/selection_fields?field_name=job_title">Job Title</a></li>
          <li><a href="/selection_fields?field_name=shift">Shift</a></li>
          <li><a href="/selection_fields?field_name=service_type">Service Type</a></li>
        </ul>
      </div>

    </div>
  </div>

</div>


<script type="text/javascript">
    $(document).ready(function () {
        jQuery('.selection_fields').addClass('active');
    })
</script>